<div class="container">
  <h1>Thanks for joining AirBnB!</h1>
  <h4>Create your account here:</h4>
  <form action='/users/create_acc' method="post">
    <input area="text" name="user[username]" placeholder="New username">
    <br/><br/>
    <input type="password" name="user[password]" placeholder="New password">
    <br/><br/>
    <input type="submit" value="SIGN UP NOW">
  </form>
</div>

