<div class="container">
  <h1>Welcome to AirBnB</h1>
  <h4>Have an account? Sign in here:</h4>
  <form action='/users/login' method='post'>
    <input area="text" name="user[username]" placeholder="Your username">
    <br/><br/>
    <input type="password" name="user[password]" placeholder="Your password">
    <br/><br/>
    <input type="submit" value="LOG IN">
    <br/>
  </form>
  <br/>
  <a href = "/users/create_acc"><input type="submit" value="Not a member? Sign up here"></a>
</div>
